.page{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--textColorBlack);
  background-color: var(--mainColorBackground);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  padding: 10px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
