.footer__container-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 266px;
}

@media screen and (min-width: 1024px) {
  .footer__container-icon{
    margin-right: 50px;
    width: 400px;
  }
}
